#MissionSection_About,
#MediaSection_About,
#ContactSection_About,
#CreatorSection_About {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

#MissionSection_About h1 {
    padding-left: 15px;
    border-left: solid rgb(132, 81, 6) 30px;
    font-size: 2rem;
}

#MissionSection_About .img-part img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

#MissionSection_About .img-part {
    width: fit-content;
    position: relative;
    margin: 30px auto;
}

#MissionSection_About .img-part :is(.backSide, .frontSide) {
    transition: linear 0.2s;
}

#MissionSection_About .img-part:hover .frontSide {
    transition-delay: 0s;
    transform: rotateY(90deg);
}

#MissionSection_About .img-part .frontSide {
    transition-delay: 0.2s;
    transform: rotateY(0);
}

#MissionSection_About .img-part:hover .backSide {
    transform: rotateY(0);
    transition-delay: 0.2s;
}

#MissionSection_About .img-part .backSide {
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    left: 0;
}

#MediaSection_About h2 {
    border-left: solid rgb(110, 21, 5) 20px;
}

#ContactSection_About h2 {
    border-left: solid rgb(110, 106, 5) 20px;
}

#CreatorSection_About h2 {
    border-left: solid rgb(59, 110, 5) 20px;
}

#MediaSection_About,
#ContactSection_About,
#CreatorSection_About {
    margin: 50px auto;
}

:is(#MediaSection_About,
    #ContactSection_About,
    #CreatorSection_About) h2 {
    display: inline;
    font-size: 1.7rem;
    padding-left: 15px;
    margin: 0;
}

:is(#MediaSection_About,
    #ContactSection_About,
    #CreatorSection_About) span {
    font-size: 1.3rem;
    color: rgb(207, 207, 207);
    padding-left: 20px;
}

#ContactSection_About .copyButton {
    display: inline-flex;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #a1692a;
    border-radius: 5px;

    position: relative;

    padding: 0;
    overflow: hidden;
    font-size: 1rem;

    transition: ease-in-out 0.2s;
}

#ContactSection_About .copyButton:hover * {
    transition: ease-in-out 0.2s;
}

#ContactSection_About .copyButton:hover {
    transform: scale(1.06);
    background-color: rgb(207, 207, 207);
}

#ContactSection_About .copyButton:hover span {
    color: #a1692a;
}

#ContactSection_About .copyButton span {
    margin: auto;
    width: auto;
    padding: 0 0.2em;
    font-size: 100%;
}

#ContactSection_About .copyButton svg {
    height: inherit;
    width: auto;
    padding: 2px 5px;
    box-sizing: border-box;

    background-color: #6a4215;
}

#ContactSection_About .copyButton .popupDiv {
    position: absolute;
    background-color: blue;
}

#ContactSection_About .copyButton.copied {
    background-color: #008000;
}

#ContactSection_About .copyButton.copied span {
    color: white;
}

#MediaSection_About>div {
    margin: 20px
}

#MediaSection_About>div>a {
    margin: 0 5px;
}

#MediaSection_About>div>a>img {
    height: 70px;
    width: auto;

    transition: ease-in-out 0.2s;
}

#MediaSection_About>div>a>img:hover {
    transform: scale(1.1);
}