#FeaturedSection {
    margin: 0 auto;
}

#FeaturedSection>div {
    display: flex;
    padding: 0 20px;
    gap: 20px;
    overflow-x: auto;
    background-color: #252525;
    box-shadow: 0px 0px 4px 5px #3f3f3f;
    border-top: black solid 2px;
    border-bottom: black solid 2px;

}

#FeaturedSection>div::-webkit-scrollbar {
    width: inherit;
    height: 3px;
    background-color: transparent;
}

#FeaturedSection>div::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 83);
}

#FeaturedSection h2 {
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#FeaturedSection .item {
    background-color: #151515;
    padding: 10px;
    text-align: center;
    position: relative;
}

#FeaturedSection .item img {
    height: 120px;
    width: 120px;
}

#FeaturedSection .item .title-part {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.557);
    width: 100%;
    font-size: 1.4rem;
    color: var(--font-color);

    position: absolute;
    bottom: 0;
    left: 0;
}

#FeaturedSection .item:hover .title-part {
    color: #a1692a;
}

/*---- Introduction Section ----*/
#IntroductionSection {
    display: flex;
    align-items: center;


    margin: 30px auto;
    max-width: 900px;

    justify-content: center;
    gap: 100px;
}

#IntroductionSection .description-holder {
    flex: 0.7;
}

#IntroductionSection .description-holder h1 {
    padding-left: 20px;
    font-size: 2.5rem;
    width: 23ch;
}

#IntroductionSection .description-holder p {
    width: 60ch;
}

#IntroductionSection .description-holder button {
    background-color: #a1692a;
    color: white;
    border: 0;
    border-radius: 5px;

    cursor: pointer;
    font-size: 1rem;
    padding: 0.7em;

    transition: ease-in-out 0.2s;
}

#IntroductionSection .description-holder button:hover {
    color: #a1692a;
    background-color: #cfcfcf;
}

#IntroductionSection .item-holder {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#IntroductionSection .item {
    line-height: 0;

    height: 150px;
    width: 150px;

    padding: 4px;
    margin: 10px;
    border-radius: 5px;

    background-color: rgb(78, 78, 78);
}

#IntroductionSection .item img {
    height: inherit;
    width: inherit;
    background-color: rgb(22, 22, 22);

    box-sizing: border-box;
    padding: 5px;
}

#IntroductionSection .item>a {
    line-height: normal;
    display: none;

    color: var(--font-color);
    text-decoration: none;
}

#IntroductionSection .item>a span {
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: bold;
}

#IntroductionSection .item>a p {
    margin: 0 3px;
}

#IntroductionSection .item:hover>a {
    display: flex;
    flex-direction: column;
    height: inherit;

    position: relative;
    top: -100%;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.792);
}

#IntroductionSection .item-graphic {
    transform: translateX(-100px);
}

#IntroductionSection .item-code {
    transform: translateX(-50px) translateY(10px);
}


/*---- Development Section ----*/
#DevelopmentSection {
    max-width: 900px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#DevelopmentSection>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#DevelopmentSection h2 {
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#DevelopmentSection .description-part {
    white-space: pre-line;
}

#DevelopmentSection .description-header2 {
    font-weight: bold;
    font-size: 1.2rem;
}

#DevelopmentSection .item-holder {
    display: flex;
    flex-direction: column;

    padding: 20px 10px;

    background: rgb(36, 36, 36);
    border: black 2px solid;
    border-radius: 3px;
}

#DevelopmentSection .item-holder hr {
    width: 100%;
    border: 1px solid rgb(44, 44, 44);
}

#DevelopmentSection .title-part>h3 {
    margin: 0;
}

#DevelopmentSection .title-part {
    margin: 0;
    color: #b9b9b9;
    font-size: 1.4rem;
    height: fit-content;

    transition: ease-in-out 0.1s;
}

#DevelopmentSection .title-part:hover {
    color: #892828;
}

#DevelopmentSection .title-part:hover+.version-part {
    color: white;
}

#DevelopmentSection .version-part {
    color: #7e7e7e;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;

    cursor: default;
    transition: ease-in-out 0.1s;
}

/*dateA - exp: 6/24/2023*/
/*dateB - exp: about 1 month ago*/

#DevelopmentSection .dateB-part {
    font-size: 0.8rem;
    padding-left: 10px;
    color: #7e7e7e;
}


#DevelopmentSection :is(.dateA-part, .dateB-part) {
    margin: 0;
}