/*--[MAIN]--*/

main {
    flex: 1 0 auto;
}

main .mobile-menu {
    display: none;
}

/*--[HEADER]--*/

#header-holder {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    transition: ease-out 0.3s;
    z-index: 200;
}

#header-holder[aria-expanded='false'] {
    transform: translateX(-100%);
    box-shadow: 10px 0px 5px 0px rgb(0, 0, 0);
}

#header-holder[aria-expanded='false'] .slider-control {
    transform: translateX(100%);
}

#header-holder[aria-expanded='false'] .slider-control svg {
    transform: rotateY(180deg);
}

#header-holder[aria-expanded='false']+.qs__sidebar_spacing {
    padding: 0;
}

#header-holder .slider-control {
    height: 20px;
    width: 20px;
    padding: 5px;

    border-radius: 0 5px 5px 0;
    background-color: var(--tooling-background-color);
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 80px;

    z-index: 99;
    transition: ease-in-out 0.3s;
}

#header-holder:hover .slider-control {
    transform: translateX(100%);
}

#header-holder .slider-control:hover {
    background-color: #7a7a7a;
}

#header-holder .slider-control svg {
    height: inherit;
    width: inherit;
    transition: ease-in-out 0.8s;
}

header {
    text-align: center;
    height: inherit;
    width: inherit;

    z-index: 100;
    background: var(--header-background-color);
    box-shadow: 2px 0px 5px 0px rgb(0, 0, 0);
}

header .logo {
    width: inherit;
    cursor: pointer;

    color: var(--font-color);
    text-decoration: none;
    padding-top: 10px;
}

header .logo img {
    box-sizing: border-box;
    width: calc(var(--sidebar-width)*0.4);
    height: auto;

    margin: 0;
}

header .logo span {
    font-family: "Bruno Ace SC";
    font-size: 1.4rem;
}

header .quote-div {
    padding: 10px;
    margin-block-start: auto;
}

header .quote-div p {
    display: inline-block;
    margin: 0;
}

header .quote-div p::before,
header .quote-div p::after {
    content: '"';
}

header .quote-div span {
    font-style: italic;
}

header .quote-div span::before {
    content: " - ";
}

/*--[NAV]--*/

nav {
    margin-top: 20px;
}

nav a {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    cursor: pointer;

    padding-left: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--font-color);

    transition: ease-in-out 0.2s;
}

nav a:hover {
    background: var(--background-color);
}


/*--[FOOTER]--*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(31, 31, 31);
    padding: 10px 0;

    flex-shrink: 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

footer .opensource-div {
    flex: 1;
    text-align: left;
    padding-left: 1vw;
}

footer .opensource-div>div {
    text-align: center;
    width: fit-content;
}

footer .opensource-div footer .velta-logo-div {
    flex: 1;
    text-align: center;
}

footer .copyright-div {
    flex: 1;
    text-align: right;
    padding-right: 1vw;
}

footer .opensource-div a img {
    height: 50px;
    width: auto;
}

footer .velta-logo-div a img {
    height: 70px;
    width: auto;
}

main .mobile-menu .mobile-nav {
    background-color: #434343f9;
    display: flex;
    flex-direction: column;

    width: 150px;
    margin-left: 5px;
    padding: 10px 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.85);

    position: relative;
    z-index: 10;
}

main .mobile-menu .mobile-nav a {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 0.15em;

    color: white;
}

main .mobile-menu .mobile-nav a:hover {
    background-color: #262626;
}

@media screen and (max-width: 1000px) {
    #header-holder[aria-expanded='true']+.qs__sidebar_spacing {
        padding: 0;
    }

    #header-holder :is(.quote-div, .title) {
        display: none;
    }

    #header-holder,
    #header-holder header {
        display: none;
    }


    main .mobile-menu {
        display: block;
        height: 45px;
    }

    main .mobile-menu .menuHolder {
        gap: 10px;
        padding: 5px;
    }

    main .mobile-menu .logo img {
        width: inherit;
        height: inherit;
    }

    main .mobile-menu .logo {
        width: auto;
        height: inherit;
    }

    main .mobile-menu .slider-control {
        display: flex;
        background-color: rgb(93, 93, 93);
        border-radius: 10px;

        padding: 7px;

        cursor: pointer;
        box-sizing: border-box;
    }

    main .mobile-menu .slider-control svg {
        width: inherit;
        height: inherit;
    }

    main .mobile-menu .slider-control svg path {
        stroke: rgb(235, 235, 235);
    }

    main .mobile-menu .slider-control span {
        font-weight: bold;
        font-size: 1.4rem;
        margin: auto;
        padding-left: 5px;
    }

    main .mobile-menu[aria-expanded='false'] .mobile-nav {
        display: none;
    }

}


@media screen and (max-width: 480px) {

    footer {
        flex-direction: column;
        gap: 40px;
    }

    footer .velta-logo-div {
        order: -1;
    }

    footer .velta-logo-div a img {
        width: 30vw;
        height: auto;
    }

    footer .opensource-div {
        font-size: 1.3rem;
    }

    footer .opensource-div a img {
        width: 20vw;
        height: auto;
    }
}