body,
html,
#root {
  height: 100vh;
  overflow: auto;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.expander-div {
  flex: 1;
}

/*--[MAIN]--*/

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(90vw, 350px));
  justify-content: center;
  gap: 20px;
}

main .content-div {
  height: 450px;
  width: inherit;
  position: relative;

  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  box-shadow: -2px 2px 5px black;

  overflow-x: hidden;
  overflow-y: auto;

  cursor: pointer;
  text-align: center;
  overflow: hidden;

  transition: ease-in 0.2s;
}

main .content-div::after {
  content: "";
  height: 25px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;

  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}

main .content-div:hover {
  transform: scale(1.03);
  box-shadow: -5px 5px 5px black;
}

main .content-div .tag {
  position: absolute;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
  top: 23px;
  right: 23px;

  width: 100px;
  padding: 10px;

  font-size: 1rem;
  font-weight: bold;
}

main .not-found {
  display: grid;
  width: 50vw;
  margin: 0;

  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/-1;

  text-align: center;
  font-size: 1.2rem;
}

/* SHOW DIV - div that will pop up */

.show-Div {
  font-size: 20px;
  text-align: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 90vw;
  max-width: 700px;
  height: 90vh;
  position: fixed;

  background-color: rgb(31, 31, 31);
  border-radius: 5px;

  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}

.show-Div .exit-button {
  height: 45px;
  width: auto;
  position: absolute;
  top: 5px;
  left: 5px;

  padding: 0;
  background: transparent;
  border: 0;
}

.show-Div .exit-button svg {
  height: inherit;
  width: inherit;
}

.show-Div .exit-button:hover svg #circle {
  fill: #bb2f2f;
}

.show-Div .exit-button.show-animate svg #lineA {
  animation: exitSVG-rotation-A ease-out 0.3s 0.65s both;
}

.show-Div .exit-button.show-animate svg #lineB {
  animation: exitSVG-rotation-B ease-out 0.3s 0.65s both;
}

@keyframes exitSVG-rotation-A {
  0% {
    d: path("M17.2425 49.708L82.7575 49.708");
  }

  100% {
    d: path("M27 26.383L73 73.033");
  }
}

@keyframes exitSVG-rotation-B {
  0% {
    d: path("M17.2426 49.325L82.7576 49.325");
  }

  100% {
    d: path("M27 72.65L73 26")
  }
}

.show-Div .show-title-div {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
}

.show-Div h2 {
  display: inline;
}

.show-Div .tag {
  position: absolute;
  bottom: 0.5em;

  font-weight: bold;
  font-size: 0.7em;
  margin-left: 0.4em;

  background-color: rgb(1, 71, 11);
  padding: 0.2em 0.6em;
  border-radius: 10px;

}

.show-Div .controls {
  position: fixed;
  top: 0;
  right: 0;
}

.show-Div.show-animate {
  animation: showpopup 0.6s;
}

@keyframes showpopup {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1, 0.01);
  }

  100% {
    transform: scale(1);
  }
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0.58);

  z-index: 2;
}

/*--[HEADER]--*/

header {
  text-align: center;
  margin: 0 10px;
}

header h1 {
  font-family: "Bruno Ace SC";
  font-size: 3.5rem;
  margin: 30px 0 0 0;
}

header .quote-div p {
  display: inline-block;
  margin: 0;
}

header .quote-div p::before,
header .quote-div p::after {
  content: '"';
}

header .quote-div span {
  font-style: italic;
}

header .quote-div span::before {
  content: " - ";
}


h2 {
  font-size: 2em;
  margin: 10px auto;
  width: fit-content;
  position: relative;
}


h2 a {
  color: var(--font-color);
}

h2 a:hover {
  color: rgb(181, 230, 255)
}

.img-div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.237);
  padding: 10px 0;
}

.img-div img {
  height: 10em;
  width: auto;
}

.category-div {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;

  font-size: 1em;
  font-weight: bold;

  background-color: rgb(38, 38, 38);
  overflow-x: auto;
}

.category-div::-webkit-scrollbar {
  width: inherit;
  height: 2px;
  background-color: transparent;
}

.category-div::-webkit-scrollbar-thumb {
  background-color: rgb(135, 135, 135);
}

.category-div span {
  background-color: rgb(76, 78, 84);
  padding: 0.6em 0.4em;
  margin: 0 0.1em;
  border-radius: 10px;

  white-space: nowrap;
}

.description {
  box-sizing: border-box;
  padding: 0.7em;
  overflow: hidden;
}

.description p {
  margin: 0;
}

/*--[NAV]--*/

nav {
  width: 95vw;
  max-width: 900px;
  margin: 20px auto;
  height: 50px;

  display: flex;
  z-index: 1;
  position: sticky;
  top: 5px;
}

/*Filter Drop Down*/
nav .drop_down_div {
  height: inherit;
  cursor: pointer;
}

nav .drop_down_div .icon {
  height: inherit;

  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  background-color: #222222f1;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav .drop_down_div .icon svg {
  width: auto;
  height: 35px;

  margin-right: 5px;
}

nav .drop_down_div .items-holder {
  display: flex;
  width: max-content;

  background: rgba(78, 78, 78, 0.947);
  padding: 30px 0 5px 0;

  flex-direction: column;
  position: absolute;
  top: 50%;
  z-index: -1;
  border-radius: 0 0 5px 5px;

  clip-path: inset(0 0 100% 0);
  transition: 0.2s ease-out;
}

nav .drop_down_div:hover .items-holder {
  clip-path: inset(0 0 0 0);
}

nav .drop_down_div .item {
  cursor: pointer;
  padding: 0 4px;
}

nav .drop_down_div .item:hover {
  cursor: pointer;
  background: #222222f1;
}

nav .drop_down_div .item input {
  margin: 4px;
  margin-right: 6px;
}

nav .sorting-buttons-holder {
  display: flex;
  width: inherit;

  border-radius: 0 10px 10px 0;
  background-color: #262626dd;
  padding-left: 5px;
  border: solid #222222f1 2px;
  border-left: 0;

  overflow-y: auto;
  gap: 5px;
}

nav .sorting-buttons-holder::-webkit-scrollbar {
  width: inherit;
  height: 1px;
  background-color: transparent;
}

nav .sorting-buttons-holder::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
}

nav .clear-button {
  border: solid #222222f1 2px;
  border-left: 0;
  border-right: 0;
  background-color: rgb(81, 44, 44);

  color: white;
  font-weight: bold;

  transition: ease-in-out 0.1s;
}

nav .clear-button:hover {
  background-color: rgb(148, 40, 40);
}

nav .sorting-buttons-holder button {
  margin: 5px 0;

  border: 1px rgb(103, 103, 103) solid;
  border-radius: 10px;
  background-color: rgb(78, 78, 78);
  cursor: pointer;

  white-space: nowrap;
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

nav .sorting-buttons-holder button:hover {
  background-color: rgb(138, 38, 38);
}

/*--[FOOTER]--*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(31, 31, 31);
  padding: 10px 0;

  margin-top: 20px;
}

footer p {
  margin: 0;
}

footer .opensource-div {
  flex: 1;
  text-align: left;
  padding-left: 1vw;
}

footer .opensource-div>div {
  text-align: center;
  width: fit-content;
}

footer .opensource-div footer .velta-logo-div {
  flex: 1;
  text-align: center;
}

footer .copyright-div {
  flex: 1;
  text-align: right;
  padding-right: 1vw;
}

footer .opensource-div a img {
  height: 50px;
  width: auto;
}

footer .velta-logo-div a img {
  height: 70px;
  width: auto;
}

/*++{[TABLET]}++*/
@media screen and (min-width: 481px) and (max-width: 768px) {}

/*++{[MOBILE DEVICES]}++*/
@media screen and (max-width: 480px) {

  nav {
    justify-content: center;
  }

  nav .drop_down_div .item {
    padding-bottom: 3px;
    padding-top: 3px;
  }

  nav .sorting-buttons-holder {
    display: none;
  }

  nav .clear-button {
    padding: 1px 12px;
    border-radius: 0 10px 10px 0;
    border-right: solid #222222f1 2px;
  }

  footer {
    flex-direction: column;
    gap: 40px;
  }

  footer .velta-logo-div {
    order: -1;
  }

  footer .velta-logo-div a img {
    width: 30vw;
    height: auto;
  }

  footer .opensource-div {
    font-size: 1.3rem;
  }

  footer .opensource-div a img {
    width: 20vw;
    height: auto;
  }
}