:root {
  --background-color: #313131;
  --font-color: rgba(255, 255, 255, 0.87);
  --sidebar-width: 188px;
  --header-background-color: rgb(38, 38, 38);
  --tooling-background-color: rgb(78, 78, 78);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background: rgb(49, 49, 49);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*--[QUICKSTYLE]--*/

.qs__flex_row {
  display: flex;
}

.qs__flex_column {
  display: flex;
  flex-direction: column;
}

:has(.qs__flex_row, .qs__flex_column) .__flex_extend {
  flex: 1;
}

:has(.qs__flex_row, .qs__flex_column) .__flex_center {
  justify-content: center;
  align-items: center;
}

:has(.qs__flex_row, .qs__flex_column) .__flex_center_Low {
  justify-content: center;
  align-items: flex-end;
}

.qs__sidebar_spacing {
  padding-left: var(--sidebar-width);
}

.qs__height_fit_content {
  height: fit-content;
}

.qs__height_full_percent {
  height: 100%;
}

.qs_scroll_y {
  overflow-y: auto;
}

.qs_scroll_x {
  overflow-x: auto;
}

.qs_animation {
  transition: ease-out 0.3s;
}

.qs__grid_row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
}