#MessageSection_Error {
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#MessageSection_Error h1 {
    margin: 0;
    color: rgb(193, 0, 0);
    font-size: 3rem;
}

#MessageSection_Error button {
    background-color: #a1692a;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.7em;
    transition: ease-in-out 0.2s;
}

#MessageSection_Error button:hover {
    color: #a1692a;
    background-color: #cfcfcf;
}